/* Basic */
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/* Header */
.Header {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
    background-size: cover;
    background-color: #fff;
}

.Header-cover {
    background-color: rgba(0, 0, 0, 0.3);
}

.Nav {
    overflow: hidden;
}

.Nav-inner {
    padding: 1vw;
}


/* need to review this part of code */

.Titles {
  font-size: 4vmin;
}

.Btn-setts {
  padding: 1.5vmin 3.75vmin;
  border-radius: 20vmin;
  font-size: 2vmin;
  transition: all .3s;
  background-color: rgba(255,255,255, 0.1);
  color: rgba(255,255,255, .9);
}


/*  writing some code without utility classes */

/* .Tours-section, .Blog-section {
  height: 20vh;
  width: 98vw;
} */

section {
  height: 20vh;
  width: 98vw;
}

.Cards-parent {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15vmin;
  margin: 2vmin;
}

.Cards {
  width: 450px;
  height: 450px;

  padding: 2vmin;
  margin: 4vmin;
}
