/* Basic */
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;

}


.Main {
  flex-direction: column;
  align-items: center;
  /* width: 100vw; */
}

/* Header */
.Header {
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: 50%;
    background-size: cover;
    background-color: #fff;
}

.Header-cover {
    background-color: rgba(0, 0, 0, 0.3);
}

.Nav {
    overflow: hidden;
}



/* need to review this part of code */

.Titles {
  width: 30vw;
  height: 30vh;
  font-size: 4vmin;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.Btn-setts {
  padding: 1.5vmin 3.75vmin;
  border-radius: 20vmin;
  font-size: 2vmin;
  transition: all .3s;
  background-color: rgba(255,255,255, 0.1);
  color: rgba(255,255,255, .9);
}


/*  writing some code without utility classes */
/* Card's Section */

/* .section-0 {
  width: 70vw;
  height: auto;
  position: absolute;
  top: 100vh;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
} */


.Tours-section, .Blog-section {
  padding: 5vmin;
  margin: 5vmin;
  flex-direction: column;
  align-items: flex-start;
}

.Section-header {
  align-items: center;
}

.slider-btn-bottom {
  cursor: pointer;
}

.gdn-btn {
  border-radius: 1.5vmin;
  color: white;
  padding: 2vmin 2.5vmin 2vmin 2.5vmin;
  cursor: pointer;
  margin-left: 3vmin;
}

.gdn-btn:hover {
  background: red;
  transition: all .2s ease-in-out;
}

.Slider-btn {
  width: 10vmin;
  height: 10vmin;
  background: rgba(0, 0, 0, 0);
  border: none;
}

.arrow {
    border: solid white;
    border-radius: 0.3vmin 0.3vmin 0.3vmin;
    border-width: 0 0.5vmin 0.5vmin 0;
    display: inline-block;
    padding: 0.5vmin;
}

.right {
    transform: rotate(-45deg) ;
    -webkit-transform: rotate(-45deg);
}

.slide-arrow {
  border-width: 0 1.2vmin 1.2vmin 0;
  border-color: black;
  padding: 2vmin;
  border-radius: 1vmin 1vmin;
  cursor: pointer;
}



/*
button color
first color - #2dbf91
last color - #55a6a1
*/


/*
free logo
first color - #3bd38f
last color - #3cd3c7
*/


/* Cards Layout for both of them */

.Cards-parent {
  justify-content: center;
  align-items: center;
}

.Cards {
  width: 40vmin;
  height: 50vmin;
  box-shadow: 0 0.5vmin 0.8vmin 0 rgba(0,0,0,.3);
  overflow: hidden;
  margin: 4vmin;
  border-radius: 3vmin;
  position: relative;
  transition: all .2s ease-in-out;
  background: #ececec;

}

.Cards:hover {
  box-shadow: 0 3vmin 3vmin rgba(0,0,0,0.19), 0 1.5vmin 2vmin rgba(0,0,0,0.23);
  background: #ececec;
  opacity: 1;
}

/*Tour Cards */

.Tour-image {
  width: 40vmin;
  height: 32vmin;
  opacity: .8;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.Tour-image:hover {
  opacity: 1;
}

.Tour-image img {
  width: 40vmin;
  height: 32vmin;
}

.Tour-card-bottom {
  font-size: 2vmin;
  justify-content: space-between;
  align-items: flex-start;
  height: 18vmin;
  width: 37vmin;
}

.Tour-card-text {
  /* margin: 1vmin; */
  padding: 2vmin;
  text-align: left;

}

.Tour-card-fab {
  color: #fff;
  background: linear-gradient(left, #3bd38f, #3cd3c7);
  position: absolute;
  top: 28.5vmin;
  left: 31vmin;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}

/*Blog Cards*/

.Blog-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40vmin;
  height: 50vmin;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.Blog-card-header {
  height: 40vmin;
}

.Blog-card-cover {
  position: absolute;
  width: 40vmin;
  height: 55vmin;
  background: rgba(0,0,0, .4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.Blog-card-bottom {
  width: 34.5vmin;
  /* height: 20vmin; */
  position: absolute;
  right: 2vmin;
  top: 3vmin;
  left: 2vmin;
  bottom: 3vmin;
}

.Blog-card-text {
  text-align: left;
  font-size: 2.2vmin;
  color: white;
  text-align: left;
  width: 34.5vmin;
  height: 42vmin;
}

.Blog-card-text .card-text {
  font-family: DejavuSans;
  font-size: 2vmin;
  margin: 1.5vmin 0;
  width: 100%;
  height: 26.8vmin;
  white-space: wrap;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

.Blog-card-fab {
  background: rgba(255, 255, 255, .3);
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  position: absolute;
  font-size: .5vmin;
  top: 38vmin;
  left: 29vmin;
}

.fab-action-button__icon {
  display: inline-block;
  width: 4.5vmin;
  height: 7vmin;
  background: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmZmZmIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KICAgIDxwYXRoIGQ9Ik0xOCAxNi4wOGMtLjc2IDAtMS40NC4zLTEuOTYuNzdMOC45MSAxMi43Yy4wNS0uMjMuMDktLjQ2LjA5LS43cy0uMDQtLjQ3LS4wOS0uN2w3LjA1LTQuMTFjLjU0LjUgMS4yNS44MSAyLjA0LjgxIDEuNjYgMCAzLTEuMzQgMy0zcy0xLjM0LTMtMy0zLTMgMS4zNC0zIDNjMCAuMjQuMDQuNDcuMDkuN0w4LjA0IDkuODFDNy41IDkuMzEgNi43OSA5IDYgOWMtMS42NiAwLTMgMS4zNC0zIDNzMS4zNCAzIDMgM2MuNzkgMCAxLjUtLjMxIDIuMDQtLjgxbDcuMTIgNC4xNmMtLjA1LjIxLS4wOC40My0uMDguNjUgMCAxLjYxIDEuMzEgMi45MiAyLjkyIDIuOTIgMS42MSAwIDIuOTItMS4zMSAyLjkyLTIuOTJzLTEuMzEtMi45Mi0yLjkyLTIuOTJ6Ii8+Cjwvc3ZnPg==") center no-repeat;
}

            /* social media sharing button */
/*
              .Blog-card-fab:hover .fab-buttons {
                            opacity: 1;
                            visibility: visible;
                            cursor: pointer;
              }

              .Blog-card-fab:hover .fab-buttons__link {
                transform: scaleY(1) scaleX(1) translateY(-16px) translateX(0px);
              }

              .fab-action-button:hover + .fab-buttons .fab-buttons__link:before {
                visibility: visible;
                opacity: 1;
                transform: scale(1);
                transform-origin: right center 0;
                transition-delay: 0.3s;
              }

             .fab-action-button {
              position: absolute;
              bottom: 0;
              display: block;
              width: 56px;
              height: 56px;
              background-color: #29B6F6;
              border-radius: 50%;
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            }



            .fab-buttons {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 50px;
              list-style: none;
              margin: 0;
              padding: 0;
              opacity: 0;
              visibility: hidden;
              transition: 0.2s;
            }

            .fab-buttons__item {
              display: block;
              text-align: center;
              margin: 12px 0;
            }

            .fab-buttons__link {
              display: inline-block;
              width: 40px;
              height: 40px;
              text-decoration: none;
              background-color: #ffffff;
              border-radius: 50%;
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
              transform: scaleY(0.5) scaleX(0.5) translateY(0px) translateX(0px);
              -moz-transition: .3s;
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s;
            }

            [data-tooltip]:before {
              top: 50%;
              margin-top: -11px;
              font-weight: 600;
              border-radius: 2px;
              background: #585858;
              color: #fff;
              content: attr(data-tooltip);
              font-size: 12px;
              text-decoration: none;
              visibility: hidden;
              opacity: 0;
              padding: 4px 7px;
              margin-right: 12px;
              position: absolute;
              transform: scale(0);
              right: 100%;
              white-space: nowrap;
              transform-origin: top right;
              transition: all .3s cubic-bezier(.25, .8, .25, 1);
            }

            [data-tooltip]:hover:before {
              visibility: visible;
              opacity: 1;
              transform: scale(1);
              transform-origin: right center 0;
            }

            .icon-material {
              display: inline-block;
              width: 40px;
              height: 40px;
            }

            .icon-material_fb {
              background:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDUxMCA1MTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMCA1MTA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBpZD0icG9zdC1mYWNlYm9vayI+CgkJPHBhdGggZD0iTTQ1OSwwSDUxQzIyLjk1LDAsMCwyMi45NSwwLDUxdjQwOGMwLDI4LjA1LDIyLjk1LDUxLDUxLDUxaDQwOGMyOC4wNSwwLDUxLTIyLjk1LDUxLTUxVjUxQzUxMCwyMi45NSw0ODcuMDUsMCw0NTksMHogICAgIE00MzMuNSw1MXY3Ni41aC01MWMtMTUuMywwLTI1LjUsMTAuMi0yNS41LDI1LjV2NTFoNzYuNXY3Ni41SDM1N1Y0NTloLTc2LjVWMjgwLjVoLTUxVjIwNGg1MXYtNjMuNzUgICAgQzI4MC41LDkxLjgsMzIxLjMsNTEsMzY5Ljc1LDUxSDQzMy41eiIgZmlsbD0iIzc1NzU3NSIvPgoJPC9nPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=") center no-repeat;
            }

            .icon-material_gp {
              background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDUxMCA1MTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMCA1MTA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBpZD0icG9zdC1ncGx1cyI+CgkJPHBhdGggZD0iTTIzNC42LDE3NS45NWMwLTI1LjUtMTUuMy03Ni41LTUzLjU1LTc2LjVjLTE1LjMsMC0zMy4xNSwxMC4yLTMzLjE1LDQzLjM1YzAsMzAuNiwxNS4zLDczLjk1LDUxLDczLjk1ICAgIEMxOTguOSwyMTYuNzUsMjM0LjYsMjE0LjIsMjM0LjYsMTc1Ljk1eiBNMjE5LjMsMzAwLjljLTIuNTUsMC01LjEsMC03LjY1LDBsMCwwYy03LjY1LDAtMzAuNiwyLjU1LTQ1LjksNy42NDkgICAgQzE0Ny45LDMxMy42NSwxMjcuNSwzMjYuNCwxMjcuNSwzNTEuOWMwLDI4LjA1LDI1LjUsNTYuMSw3Ni41LDU2LjFjMzguMjUsMCw2MS4yLTI1LjUsNjEuMi01MSAgICBDMjY1LjIsMzM5LjE1LDI1Mi40NSwzMjYuNCwyMTkuMywzMDAuOXogTTQ1OSwwSDUxQzIyLjk1LDAsMCwyMi45NSwwLDUxdjQwOGMwLDI4LjA1LDIyLjk1LDUxLDUxLDUxaDQwOGMyOC4wNSwwLDUxLTIyLjk1LDUxLTUxICAgIFY1MUM1MTAsMjIuOTUsNDg3LjA1LDAsNDU5LDB6IE0xODEuMDUsNDM4LjZjLTcxLjQsMC0xMDQuNTUtNDAuOC0xMDQuNTUtNzYuNWMwLTEyLjc1LDIuNTUtNDAuOCwzOC4yNS02MS4xOTkgICAgYzIwLjQtMTIuNzUsNDUuOS0yMC40LDc5LjA1LTIyLjk1Yy01LjEtNS4xMDEtNy42NS0xMi43NS03LjY1LTI1LjVjMC01LjEsMC03LjY1LDIuNTUtMTIuNzVoLTEwLjJjLTUxLDAtODEuNi0zOC4yNS04MS42LTc2LjUgICAgYzAtNDMuMzUsMzMuMTUtOTEuOCwxMDQuNTUtOTEuOGgxMDcuMWwtNy42NDksNy42NUwyODMuMDUsOTYuOWwtMi41NSwyLjU1aC0xNy44NWMxMC4xOTksMTAuMiwyMi45NDksMjguMDUsMjIuOTQ5LDU2LjEgICAgYzAsMzUuNy0xNy44NSw1My41NS00MC44LDY4Ljg1Yy01LjEsMi41NS0xMC4yLDEwLjItMTAuMiwxNy44NXM1LjEsMTIuNzUsMTAuMiwxNS4zYzIuNTUsMi41NSw3LjY1LDUuMTAxLDEyLjc1LDcuNjUgICAgYzIwLjQsMTUuMyw0OC40NSwzMy4xNDksNDguNDUsNzMuOTVDMzA2LDM4NS4wNSwyNzIuODUsNDM4LjYsMTgxLjA1LDQzOC42eiBNNDMzLjUsMjU1aC01MXY1MUgzNTd2LTUxaC01MXYtMjUuNWg1MXYtNTFoMjUuNXY1MSAgICBoNTFWMjU1eiIgZmlsbD0iIzc1NzU3NSIvPgoJPC9nPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=") center no-repeat;
            }

            .icon-material_tw {
              background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDUxMCA1MTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMCA1MTA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBpZD0icG9zdC10d2l0dGVyIj4KCQk8cGF0aCBkPSJNNDU5LDBINTFDMjIuOTUsMCwwLDIyLjk1LDAsNTF2NDA4YzAsMjguMDUsMjIuOTUsNTEsNTEsNTFoNDA4YzI4LjA1LDAsNTEtMjIuOTUsNTEtNTFWNTFDNTEwLDIyLjk1LDQ4Ny4wNSwwLDQ1OSwweiAgICAgTTQwMC4zNSwxODYuMTVjLTIuNTUsMTE3LjMtNzYuNSwxOTguOS0xODguNywyMDRDMTY1Ljc1LDM5Mi43LDEzMi42LDM3Ny40LDEwMiwzNTkuNTVjMzMuMTUsNS4xMDEsNzYuNS03LjY0OSw5OS40NS0yOC4wNSAgICBjLTMzLjE1LTIuNTUtNTMuNTUtMjAuNC02My43NS00OC40NWMxMC4yLDIuNTUsMjAuNCwwLDI4LjA1LDBjLTMwLjYtMTAuMi01MS0yOC4wNS01My41NS02OC44NWM3LjY1LDUuMSwxNy44NSw3LjY1LDI4LjA1LDcuNjUgICAgYy0yMi45NS0xMi43NS0zOC4yNS02MS4yLTIwLjQtOTEuOGMzMy4xNSwzNS43LDczLjk1LDY2LjMsMTQwLjI1LDcxLjRjLTE3Ljg1LTcxLjQsNzkuMDUxLTEwOS42NSwxMTcuMzAxLTYxLjIgICAgYzE3Ljg1LTIuNTUsMzAuNi0xMC4yLDQzLjM1LTE1LjNjLTUuMSwxNy44NS0xNS4zLDI4LjA1LTI4LjA1LDM4LjI1YzEyLjc1LTIuNTUsMjUuNS01LjEsMzUuNy0xMC4yICAgIEM0MjUuODUsMTY1Ljc1LDQxMy4xLDE3NS45NSw0MDAuMzUsMTg2LjE1eiIgZmlsbD0iIzc1NzU3NSIvPgoJPC9nPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=") center no-repeat;
            }

            .icon-material_li {
              background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDUxMCA1MTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMCA1MTA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZyBpZD0icG9zdC1saW5rZWRpbiI+CgkJPHBhdGggZD0iTTQ1OSwwSDUxQzIyLjk1LDAsMCwyMi45NSwwLDUxdjQwOGMwLDI4LjA1LDIyLjk1LDUxLDUxLDUxaDQwOGMyOC4wNSwwLDUxLTIyLjk1LDUxLTUxVjUxQzUxMCwyMi45NSw0ODcuMDUsMCw0NTksMHogICAgIE0xNTMsNDMzLjVINzYuNVYyMDRIMTUzVjQzMy41eiBNMTE0Ljc1LDE2MC42NWMtMjUuNSwwLTQ1LjktMjAuNC00NS45LTQ1LjlzMjAuNC00NS45LDQ1LjktNDUuOXM0NS45LDIwLjQsNDUuOSw0NS45ICAgIFMxNDAuMjUsMTYwLjY1LDExNC43NSwxNjAuNjV6IE00MzMuNSw0MzMuNUgzNTdWMjk4LjM1YzAtMjAuMzk5LTE3Ljg1LTM4LjI1LTM4LjI1LTM4LjI1cy0zOC4yNSwxNy44NTEtMzguMjUsMzguMjVWNDMzLjVIMjA0ICAgIFYyMDRoNzYuNXYzMC42YzEyLjc1LTIwLjQsNDAuOC0zNS43LDYzLjc1LTM1LjdjNDguNDUsMCw4OS4yNSw0MC44LDg5LjI1LDg5LjI1VjQzMy41eiIgZmlsbD0iIzc1NzU3NSIvPgoJPC9nPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+CjxnPgo8L2c+Cjwvc3ZnPgo=") center no-repeat;
            }

*/

/*some predefined options for both tour and blog cards */
.Tour-card-bottom p, .Blog-card-bottom p {
  font-size: .5vmin;
}

.Tour-card-bottom a, .Blog-card-bottom a {
  color: #7bcefb;
}

.Tour-card-fab, .Blog-card-fab {
  width: 7vmin;
  height: 7vmin;
  line-height: 7vmin;
  border-radius: 50%;
  box-shadow: 0px 0.8vmin 2vmin rgba(0, 0, 0, .3);
  cursor: pointer;
  text-align: center;
}

.Tour-card-fab:hover, .Blog-card-fab:hover {
  /* background: linear-gradient(left, #2dbf91, #55a6a1); */
  cursor: pointer;
  -ms-transform: rotate(360deg);
	-webkit-transform: rotate(69deg); /* :) */
	transform: rotate(360deg);
}


/* Cards footer - avatar and writer */
.Card-creator {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.Avatar {
  border-radius: 50%;
  width: 3.5vmin;
  height: 3.5vmin;
  margin: 0 .5vmin 0 0;

}














/*star rating system */

.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 1vmin;
    background: #ececec;

}

.star-rating input[type=radio] {
    display: none;
}

.star-rating label {
    color: #f2b600;


    background: inherit;
    font-size: 2vmin;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #f2b600;
    /*change color of .star-rating label and star system will work */
    /* but it only stars the first five stars of first tour card */

}






/* scrollbar from previus mvp */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #b0b0b0;
    border: 0 none #f8f8f8;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #fafafa;
    border: 0 none #fff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    transition: all .5s;
    background-color: #707070;
}
::selection {
    color: #fff;
    background: #32CC34;
}
